.mail {
  width: 266px;
  height: 265px;
  transition: box-shadow 0.5s ease;

  &__head {
    position: relative;
    padding: 10px 18px;
  }

  &__link {
    .font-bold;
    color: @bright-blue;
    fill: @bright-blue;
    cursor: pointer;

    &:nth-child(2) {
      position: absolute;
      top: 12px;
      right: 55px;
    }

    &:nth-child(3) {
      position: absolute;
      top: 12px;
      right: 20px;
    }

    &-day {
      position: absolute;
      bottom: 4px;
      left: 2px;
      .font-bold-smallest;
      color: @white;
    }

    &._underlined {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 268px;
    height: 68px;
    background-color: @bright-blue;
    cursor: pointer;

    &:hover &-link {
      opacity: 1;
    }

    &-link {
      display: flex;
      justify-content: center;
      padding: 4px;
      width: inherit;
      color: @white;
      .font-bold-smaller;
      opacity: 0;
      transition: opacity 0.5s ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__icon {
    &._cloud {
      width: 16px;
      height: 12px;
    }

    &._calendar {
      width: 14px;
      height: 15px;
    }
  }

  &__login {
    position: relative;
    width: 266px;
    height: 195px;
    border: 1px solid @darker-grey;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: border 0.5s ease;
  }

  &__email {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &__input {
    margin-left: 19px;
    margin-right: 0;
    padding-left: 12px;
    padding-right: 12px;
    width: 102px;
    height: 28px;
    z-index: 1;
    border: 1px solid @light-grey;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;

    &:focus {
      border: 1px solid @grey;
    }
  }

  &__select {
    width: 102px;
    height: 32px;
    margin-left: -3px;
    z-index: 0;
    border: 1px solid @light-grey;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    .font-big;
    color: @dark-grey;
    cursor: pointer;
    outline: none;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7px 18px;
    width: 160px;
    height: 32px;
    color: @white;
    background-color: @bright-blue;
    border: 1px solid @bright-blue;
    border-radius: 2px;
    outline: none;
    cursor: pointer;

    &-icon {
      width: 16px;
      height: 16px;
      fill: @white;
      margin-left: 11px;
    }
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 19px 0;
  }

  &__remember {
    display: block;
    .font-small;
    color: @dark-grey;
    cursor: pointer;

    &-check {
      margin-right: -4px;
    }
  }

  &__restore {
    display: block;
    .font-small;
    color: @dark-grey;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &__create {
    display: block;
    text-align: center;
    height: 20px;
    margin-top: 12px;
    padding: 12px 20px 14px;
    border-top: 1px solid @light-grey;
    color: @blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    box-shadow: @darker-grey 0 4px 20px 0;
  }

  &:hover &__login {
    border: 1px solid transparent;
  }
}
