.news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  width: 520px;

  &__tabs {
    display: inline-flex;
    width: 100%;
    height: 27px;
    color: @dark-grey;
    border-bottom: 1px solid @light-grey;
  }

  &__tab {
    display: flex;
    height: 26px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;

    &:hover {
      border-bottom: 0.15em solid @light-grey;
    }

    &._selected {
      .font-bold;
      color: @blue;
      border-bottom: 0.15em solid @bright-blue;
    }

    &-more {
      width: 16px;
      height: 19px;
    }
  }

  &__news {
    &-list {
      margin-top: 12px;
    }

    &-list &-item {
      margin-bottom: 8px;
      white-space: nowrap;
    }

    &-item {
      color: @blue;
    }

    &-text {
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &-theme {
      .font-bold-small;
      letter-spacing: 0.8px;
      color: @dark-grey;
      outline: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
