.projects {
  margin-top: 12px;
  margin-left: 38px;
  margin-bottom: 25px;
  color: @blue;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 3px;
    cursor: pointer;
    outline: none;

    &-img {
      display: inline-block;

      &._cloud {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/cloud.png");
        background-size: cover;
      }

      &._world {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/world.png");
        background-size: cover;
      }

      &._social {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/social.png");
        background-size: cover;
      }

      &._youla {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/yula.png");
        background-size: cover;
      }

      &._horoscope {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/horoscope.png");
        background-size: cover;
      }

      &._tv {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/tv.png");
        background-size: cover;
      }

      &._combo {
        width: 24px;
        height: 24px;
        background-image: url("./assets/images/combo.png");
        background-size: cover;
      }
    }

    &-name {
      padding-left: 11px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
