.article {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 1rem;
  font-size: .8rem;

  &__content {
    margin-right: 3.4rem;
    width: 70%;
  }

  &__header {
    margin-bottom: .25rem;
  }

  &__type {
    margin-right: .3rem;
    color: @white;
  }

  &__date {
    color: @light-grey;
  }

  &__title {
    margin: 0 0 1rem;
    .font-bold-bigger;

    &-link {
      color: @white;
      text-decoration: none;

      &:hover {
        .link-gradient;
      }
    }
  }

  &__info {
    display: flex;
    margin-bottom: 1.7rem;
  }

  &__avatar {
    position: relative;

    &-img {
      width: 60px;
      height: 60px;
      margin: 20px 10px 16px;
      border-radius: 50%;
      background-image: url("assets/images/coyier.jpeg");
      background-size: cover;
      filter: grayscale(100%);
    }

    &-under {
      position: absolute;
      bottom: 7px;
      left: 0;
      fill: none;
      width: 80px;
      height: 56px;
      pointer-events: none;
    }
  }

  &__author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 30px 40px;

    &-prefix {
      color: @light-grey;
    }

    &-name {
      font-weight: 500;
      color: @white;
      text-decoration: none;

      &:hover {
        .link-gradient;
      }
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 40px;

    &-prefix {
      color: @light-grey;
    }

    &-link {
      position: relative;
      padding-right: 30px;
      font-weight: 500;
      color: @white;
      text-decoration: none;

      &:hover {
        .link-gradient;
      }
    }

    &-icon {
      position: absolute;
      top: -2px;
      right: 0;
      width: 24px;
      height: 24px;
    }
  }

  &__text {
    font-size: 1rem;
    color: @lighter-grey;
    line-height: 1.6;

    &-link {
      text-decoration: none;
      color: @white;
      border-bottom: 1px solid @warm-grey;

      &:hover {
        .link-gradient;
      }
    }

    &-more {
      padding-bottom: .15rem;
      font-weight: 700;
      .link-gradient;
      border-bottom: 1px solid @pink;

      &:hover {
        border-bottom: 1px solid @white;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse closest-corner, @dark-purple, @dark-grey),
    url("assets/images/main-article.png");
    opacity: .75;
    background-size: contain;
  }
}