.header {
  display: flex;
  align-items: center;
  height: 130px;
  background-color: #100e17;
  border-bottom: 1px solid @grey;

  &__logo {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 0 40px;
  }
}