.card {
  width: 160px;
  padding: 12px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);

  &__link {
    color: @black;
  }

  &__item {
    margin-top: 10px;
  }

  &__user-name {
    .font-bold;
  }

  &__mail-unread {
    .font-regular;
    color: @light-grey;
  }
}