.link {
  text-decoration: none;
  cursor: pointer;

  &__icon-wrapper {
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 20px;

    &._cursor {
      width: 11px;
      height: 11px;
    }

    &._favs {
      fill: @light-grey;
    }

    &._bell {
      fill: @light-grey;
    }
  }

  &._pale {
    color: @grey;
  }

  &._bold {
    .font-bold;
    color: @black;
  }

  &._tab {
    .font-bold-big;
    color: @dark-blue;
  }

  &._unselected {
    color: @light-blue;
  }

  &:hover {
    color: @red;
  }
}