.link {
  text-decoration: none;

  &._pale {
    color: @light-grey;
  }

  &._bold {
    .font-big;
    .font-bold;
  }

  &._tab {
    .font-big;
    .font-bold;
    .font-blue;
  }

  &._unselected {
    color: @light-blue;
  }

  &:hover {
    color: @red;
  }
}