.widgets {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  width: 836px;

  &__item {
    width: 33.3%;
    height: 88px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}