@orange: #ff8a00;
@white: #fff;
@warm-grey: rgba(255, 255, 255, 0.2);
@lighter-grey: #c2c2c2;
@light-warm-grey: #a1a1af;
@light-grey: #7a7a8c;
@grey: #201c29;
@dark-grey: #100e17;
@darker-grey: #17141d;
@dark-purple: #0f0e16;
@border-grey: #28242f;
@black: #000;
@pink: #e52e71;
@dark-pink: #da1b60;
@red: #f44336;
@purple: #9c27b0;
@light-blue: #03a9f4;
@green: #4caf50;
@light-green: #8bc34a;